# env stuff
/env/
/env38/
/env39/

# python distribution
__pycache__
*.egg-info/
build/

# test stuff
.tox/
.hypothesis/

# editor stuff
.vimrc
/tags

# data stuff
/data/**/*.lock

# coverage.py
.coverage
/htmlcov/

# lightning logging
/lightning_logs/
/logs/
